@model myblog_reader_backend.Models.Post

@{
    var imageBaseUrl = ViewData["imageBaseUrl"];
}

<article>
    <div class="information">
        <div class="admin-profile-image">
            <img src="images/OIP.webp" alt="Admin" />
        </div>
        <div>
            <span class="admin-name">Admin</span>
            <span class="posted-date">@Model.Created</span>
        </div>
    </div>
    <div class="post-description" href="#">
        <h2>@Model.Title</h2>
    </div>

    <div class="post-image">
        <img src="@(imageBaseUrl + Model.ImagePath)"
             alt="photo" />
    </div>

    <div class="post-content">
        @Html.Raw(Model.Content)
    </div>

    <div class="seens-comments-likes">
        <span><i class="fa-regular fa-eye"></i>916</span>
        <span><i class="fa-regular fa-comment"></i>0</span>
        <span class="likes"><i class="fa-regular fa-heart"></i>4</span>
    </div>
</article>
<style>
    article {
        display: flex;
        flex-direction: column;
        border: 1px solid #f4f4f4;
        margin-bottom: 2rem;
        padding: 50px 90px;
    }

        article .post-image {
            width: 100%;
            height: 400px;
            margin-bottom: 0.8rem;
        }

        article img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    .information {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: #777;
        font-size: 0.9rem;
        margin-bottom: 1.25rem;
    }

    .admin-profile-image img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin: initial;
    }

    /* Post title */
    .post-description h2 {
        font-size: 2rem;
        color: #111;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    article .post-content {
        margin-bottom: 0.8rem;
    }

    /* Seen - Comment - Likes */
    .seens-comments-likes {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        color: #888;
        font-size: 0.9rem;
        border-top: 1px solid #dddddd;
        padding-top: 10px;
    }

        .seens-comments-likes i {
            margin-right: 0.3rem;
        }

        .seens-comments-likes span {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }

        .seens-comments-likes .likes {
            margin-left: auto;
            color: #d84b4b;
            cursor: pointer;
        }
</style>

@* <h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@


